

.header{
    
    padding: 80px;
    text-align: center;
    background: rgb(3, 83, 10);
    color: rgb(20, 161, 161);
}

.header h1 {
    font-size: 60px;
  }

.header p {
    font-size: 20px;
}

.navegador{
    overflow: hidden;
    background-color: rgb(83, 36, 15);

}

.navegador a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navegador a.linkproximo{
    float: right;
}

.imagemcapa{
    padding: 10px 350px;
}

.informativo{
    padding: 20px;
    text-align: center;
    background-color: rgb(3, 83, 10);
    color:rgb(109, 223, 223);
}

.informativo h1{
    text-align: center;
}

.informativo p{
    text-align: justify;
    text-indent: 50px;
}